<div class="dashboard">
    <div class="btn-group pull-right" dropdown is-open="vm.inlineDropDownOpen">
        <button type="button" class="btn inline-dropdown dropdown-toggle"  aria-expanded="false" data-toggle="dropdown">
            <span id="activeDropdown"><i class="hp-icon hp-splitter hp-rotate-90"></i></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="btnDropDown">
            <li>
                <a class="fullscreen">
                    <i class="hp-icon hp-expand clickable"></i> <%-i18n['dashboards.fullscreen']%>
                </a>
            </li>
        </ul>
    </div>
    <div class="widgets"></div>
</div>