<div class="right-box right-box-dark form text-center loginscreen">
    <div class="login-banner"></div>

    <form class="form form m-t login-form" method="POST" action="<%-url%>" autocomplete="off">
        <h2 class="login-title-align">
            <%-strings['title']%>
        </h2>

        <% if (isNewLogin) {%>
        <div class="alert alert-warning">
            <strong><%-strings['important']%>:</strong> <%-strings['newCreds']%>
        </div>
        <% } else if (isDefaultLogin) {%>
        <div class="alert alert-warning config-info">
            <p><strong><%-strings['important']%>:</strong> <%-strings['defaultLogin']%>.</p>
            <p class="more-info hide"><%-strings['infoSearchConfig']%></p>
            <p class="more-info hide"><%-strings['infoDefaultLogin']%></p>
            <p class="more-info hide"><%-strings['infoPasswordCopyPaste']%></p>
            <a href="#"><%= expandTemplate %></a>
        </div>
        <% } %>

        <div class="form-group">
            <input class="login-form-control form-control"
                   name="username"
                   type="text"
                   id="username"
                   placeholder="<%-defaultUsername ? defaultUsername : strings['username']%>"
                   value="<%- defaultUsername ? defaultUsername : username %>"
                    <%=isDefaultLogin ? 'readonly' : ''%>
                    >
        </div>
        <div class="form-group">
            <input class="login-form-control form-control" name="password" type="password" id="password" placeholder="<%-strings['password']%>">
        </div>
        <% if (error) {%>
        <div class="alert alert-danger">
            <%- error %>
        </div>
        <% } %>
        <div class="btn-toolbar">
            <button type="submit" class="btn btn-stroke button-primary btn-login"> <%-strings['login']%> </button>
        </div>
    </form>
</div>