<div class="find-navbar navbar navbar-static-top">
    <ul class="list-inline m-b-nil">
        <li data-pagename="search">
            <a class="unstyled navbar-brand">
                <div class="find-logo">BI for Human Information</div>
            </a>
        </li>
        <li data-pagename="settings">
            <a class="unstyled navbar-brand" href="#settings">
                <i class="hp-icon hp-fw hp-soa"></i>
            </a>
        </li>
        <li><a class="unstyled navbar-brand" href="../logout"><i class="hp-icon hp-fw hp-steps"></i></a></li>
    </ul>
</div>