<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4><%-ctx.i18n['old.browser.title']%></h4>
			</div>
			<div class="modal-body">
				<p><%-ctx.i18n['old.browser.unsupported']%></p>
				<p><%-ctx.i18n['old.browser.supportedBrowsers']%></p>
				<ul>
					<li><%-ctx.i18n['old.browser.ie']%></li>
					<li><%-ctx.i18n['old.browser.chrome']%></li>
					<li><%-ctx.i18n['old.browser.firefox']%></li>
				</ul>
			</div>
			<div class="modal-footer"></div>
		</div>
	</div>
</div>
