<div class="find-navbar navbar navbar-static-top">
    <span class="hp-logo navbar-brand m-l-sm m-t-sm"></span>
    <ul class="nav navbar-nav navbar-right drop-list">
        <li class="dropdown navbar-top-link">
            <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
            <ul class="dropdown-menu" role="menu">
                <li class="not-clickable">
                    <a class="bold username"><%- username %></a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="clickable navigation-logout"><i class="fa fa-sign-out"></i> <%-i18n['app.logout']%></a>
                </li>
            </ul>
        </li>
    </ul>
</div>
