@import "HPEElements.css";

.login-title-align {
    color: #fff;
}

.login-banner {
    height: 47px;
    width: 121px;
    background: url('../img/HPE_Dark.png');
}

.login-form-control {
    color: #e5e6e7;
}