<tr class="parametric-value-processing-indicator loading-spinner hide">
    <td colspan="3" class="text-center">
        <%- i18n['app.loading'] %>
    </td>
</tr>
<tr class="parametric-value-error hide">
    <td colspan="3" class="text-center">
        <%- i18n['search.error.parametric'] %>
    </td>
</tr>
<tr class="show-all clickable">
    <td colspan="3" class="text-center">
        <span class="toggle-more-text text-muted">
            <%- i18n['app.seeAll'] %>
        </span>
    </td>
</tr>