<% if(innerRingHeader) { %>
    <div class="sunburst-legend-field-container inner-ring-legend">
        <span class="sunburst-legend-field-name bold">
            <i class="icon-sunburst-legend-inner"></i><%- innerRingHeader %>
        </span>
        <span class="sunburst-legend-field-values"></span>
    </div>
<% } %>
<% if(outerRingHeader) { %>
    <div class="sunburst-legend-field-container outer-ring-legend">
        <span class="sunburst-legend-field-name bold">
            <i class="icon-sunburst-legend-outer"></i><%- outerRingHeader %>
        </span>
        <span class="sunburst-legend-field-values"></span>
    </div>
<% } %>