# Java
*.class
*.log
*.jar
*.war

# IntelliJ
.idea/
*.ipr
*.iml
*.iws

# Maven
log/
core/target/
hod/target/
idol/target/
on-prem-dist/target/
hsod-dist/target/

# Archetype
filter-dev.properties
core/src/test/js/lib/
.vagrant/

core/.grunt/
core/node_modules/
core/src/main/public/static/bower_components/
core/spec-runner.html
hod/.grunt/
hod/node_modules/
hod/spec-runner.html
idol/.grunt/
idol/node_modules/
idol/spec-runner.html

# Vagrant
cookbooks/
tmp

# Git
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.orig

# Database
*.db
