# Java
*.class
*.log
*.jar
*.war

# IntelliJ
.idea/
*.ipr
*.iml
*.iws
*.ids

# Archetype
filter-dev.properties

# Libraries
webapp/core/src/main/public/static/bower_components/
webapp/core/node_modules/
webapp/hod/node_modules/
webapp/idol/node_modules/
webapp/core/.grunt/
webapp/core/spec-runner.html
webapp/hod/.grunt/
webapp/hod/spec-runner.html
webapp/idol/.grunt/
webapp/idol/spec-runner.html

# Vagrant
.vagrant/
cookbooks/
tmp/
vagrant/packagecache/
vagrant/scriptcache/

# Database
*.db

# Selenium
webapp/selenium-tests/integration-tests/.output/
webapp/.output/

# Maven
log/ #webapp?
webapp/core/target/
webapp/hod/target/
webapp/idol/target/
webapp/selenium-tests/integration-tests/target/
webapp/selenium-tests/mockui/target/
webapp/hsod-dist/target/
webapp/on-prem-dist/target/
