target/
.idea*/
**/*.iml
*.iml
**/*.ipr
**/*.iws
**/*.jar
**/*.class
**/*.war
jsduck.exe
*.ipr
*.iws
ui/npm-debug.log
message.txt
*.log
*.lck
*.ctrl
*derbyDB*
*.class
*.jar
/.project
/.settings
.settings
.project
**/.output/
**/node_modules/


