<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ (c) Copyright 2015 Micro Focus or one of its affiliates.
  ~
  ~ Licensed under the MIT License (the "License"); you may not use this file
  ~ except in compliance with the License.
  ~
  ~ The only warranties for products and services of Micro Focus and its affiliates
  ~ and licensors ("Micro Focus") are as may be set forth in the express warranty
  ~ statements accompanying such products and services. Nothing herein should be
  ~ construed as constituting an additional warranty. Micro Focus shall not be
  ~ liable for technical or editorial errors or omissions contained herein. The
  ~ information contained herein is subject to change without notice.
  -->

<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender name="FileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/server.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/server.%d{yyyy-MM-dd}.log</fileNamePattern>  <!-- daily rollover -->
            <maxHistory>10</maxHistory> <!-- keep 10 days worth of history -->
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{40} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="AuditFileAppender"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/find.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/find.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>104857600</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd}\t%d{HH:mm:ss.SSS}\t%X{username}\t%X{ip}\t%msg%n</pattern>
        </encoder>
        <filter class="com.hp.autonomy.frontend.logging.LogbackMarkerFilter">
            <markerName>AUDIT</markerName>
        </filter>
    </appender>

    <appender name="IdolFileAppender"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/idol-access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/idol-access.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>104857600</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd}\t%d{HH:mm:ss.SSS}\t%X{username}\t%X{ip}\t%msg%n</pattern>
        </encoder>
        <filter class="com.hp.autonomy.frontend.logging.LogbackMarkerFilter">
            <markerName>IDOL</markerName>
        </filter>
    </appender>

    <appender name="TomcatAccessFileAppender"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/tomcat-access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/tomcat-access.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>104857600</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <!--
                This prints the string from the Tomcat access log valve, and should not be changed here.
                To change the pattern, you should modify the 'server.tomcat.accesslog.pattern' property instead.
            -->
            <pattern>%msg%n</pattern>
        </encoder>
        <filter class="com.hp.autonomy.frontend.logging.LogbackMarkerFilter">
            <markerName>TomcatAccess</markerName>
        </filter>
    </appender>

    <root level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FileAppender" />
    </root>
    <logger name="com.hp.autonomy" additivity="false">
        <appender-ref ref="AuditFileAppender" />
        <appender-ref ref="IdolFileAppender" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FileAppender" />
    </logger>
    <logger name="com.hp.autonomy.frontend.find.core.logging.TomcatAccessLogValve" level="TRACE" additivity="false">
        <appender-ref ref="TomcatAccessFileAppender"/>
    </logger>
</configuration>
