<h4><%-fieldName%></h4>
<div>
    <form>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <svg class="chart full-width"></svg>
                </div>
            </div>
            <div class="row numeric-parametric-inputs <%- inputsRowClass %>">
                <div class="<%- inputColumnClass %>">
                    <input class="numeric-parametric-min-input" type="text" title="min-value" size="5"/>
                </div>
                <div class="text-center <%- coordinatesColumnClass %>">
                    <span class="numeric-parametric-co-ordinates"></span>
                </div>
                <div class="<%- inputColumnClass %>">
                    <div class="pull-right">
                        <input class="numeric-parametric-max-input" type="text" title="max-value" size="5"/>
                    </div>
                </div>
            </div>
            <% if (buttonsEnabled) { %>
                <div class="row numeric-parametric-buttons">
                    <div class="col-xs-4">
                        <a class="numeric-parametric-no-min numeric-parametric-field-control" role="button"><%-i18n['search.numericParametricFields.noMin']%></a>
                    </div>
                    <div class="col-xs-4 text-center">
                        <a class="numeric-parametric-reset numeric-parametric-field-control" role="button"><%-i18n['search.numericParametricFields.reset']%></a>
                    </div>
                    <div class="col-xs-4 text-right">
                        <a class="numeric-parametric-no-max numeric-parametric-field-control" role="button"><%-i18n['search.numericParametricFields.noMax']%></a>
                    </div>
                </div>
            <% } %>
        </div>
    </form>
</div>