<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"><%- strings.title %></h4>
        </div>

        <div class="modal-body">
            <p><%- strings.confirm %></p>
        </div>

        <div class="modal-footer">
            <button id="settings-save-ok" class="btn button-primary"><%- strings.save %></button>
            <button class="btn button-secondary btn-w-m" data-dismiss="modal"><%- strings.cancel %></button>
        </div>
    </div>
</div>