<div class="col-md-12 map-comparison-container">
    <div class="row">
        <div class="col-md-4">
            <label class="location-comparison-label first-select-label">
                <h1 class="shorten"><i class="fa fa-map-marker"></i> <%-firstLabel%></h1>
            </label>
        </div>
        <div class="col-md-4">
            <label class="location-comparison-label both-select-label">
                <h1 class="shorten"><i class="fa fa-map-marker"></i> <%-bothLabel%></h1>
            </label>
        </div>
        <div class="col-md-4">
            <label class="location-comparison-label second-select-label">
                <h1 class="shorten"><i class="fa fa-map-marker"></i> <%-secondLabel%> </h1>
            </label>
        </div>
    </div>

    <button type="button" class="btn button-primary location-comparison-show-more"><%-showMore%></button>
    <div class="map-loading-spinner"></div>
    <div class="col-md-12 location-comparison-map"></div>
</div>