<div class="well">
    <p class="pull-right m-b-nil font-bold">
        <i class="hp-icon hp-close clickable close-preview-mode"></i>
    </p>
    <button type="button" class="preview-mode-open-detail-button btn button-primary m-b-nil m-t-xs">
        <%- i18n['search.document.detail.open'] %>
    </button>
    <% if (mmapBaseUrl && mmapUrl) { %>
        <a class="btn btn-white m-b-nil m-t-xs" href="<%-mmapBaseUrl + mmapUrl%>" target="_blank">
            <i class="fa fa-external-link"></i>
            <%-i18n['search.preview.mmap']%>
        </a>
    <% } %>
    <div class="preview-mode-contents">
        <h4 class="preview-mode-document-title"></h4>
        <div class="preview-mode-document"></div>

        <div class="preview-mode-metadata"></div>
    </div>
</div>