<% _.each(['index', 'reference'], function(field) { %>
  <% if(model.has(field)) { %>
    <tr>
      <th class="font-bold"><%-i18n['search.document.' + field]%></th>
      <td class="break-all"><%-model.get(field)%></td>
    </tr>
  <% } %>
<% }); %>

<% _.each(model.get('fields'), function(field) { %>
<% if (field.displayName) { %>
    <tr>
      <th class="font-bold"><%-field.displayName%></th>
      <td class="break-all">
        <ul class="list-unstyled m-b-nil">
          <% _.each(field.values, function(value) { %>
            <li><%-value%></li>
          <% }); %>
        </ul>
      </td>
    </tr>
  <% } %>
<% }); %>