<div class="search-options-container"></div>
<div class="query-service-view service-view-sub-container">
    <div class="left-side-container side-container">
        <i class="hp-icon hp-previous-chapter hp-lg container-toggle clickable"></i>
        <div class="side-panel-content">
            <div class="left-side-footer"></div>
        </div>
    </div>
    <div class="middle-container">
        <div class="middle-column-header"></div>
        <% if (headerControlsHtml) { %>
            <div><%= headerControlsHtml %></div>
        <% } %>
        <div class="results-view-selection"></div>
        <div class="results-view-container"></div>
    </div>
    <div class="right-side-container side-container">
        <div class="right-container-icon">
            <i class="hp-icon hp-next-chapter hp-lg container-toggle clickable"></i>
        </div>
        <div class="side-panel-content">
            <div class="related-concepts-container"></div>
        </div>
    </div>
</div>
