<div class="page-wrap main-content">
    <div class="header">
        <div class="find-navbar navbar navbar-static-top">
            <span class="hp-logo navbar-brand m-l-sm m-t-sm"></span>
            <ul class="nav navbar-nav navbar-right drop-list">
                <li class="dropdown navbar-top-link">
                    <a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a class="clickable navigation-logout"><i class="icon-signout"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="find-banner navbar navbar-static-top"></div>
    </div>

    <div class="container-fluid">
        <div class="row find-main-subcontainer">
            <div class="col-md-12 content"></div>
        </div>

        <div class="row hp-logo-footer"></div>
    </div>
</div>
