<div class="page-wrap main-content">
    <div class="header">
        <div class="find-navbar navbar navbar-static-top">
            <div class="navbar-inner">
                <a href="#find/search" class="brand">
                    <span class="find-logo">Find </span>
                </a>
                <ul class="nav nav-pills">
                    <li>
                        <a href="../p/" class="settings" rel="tooltip" data-toggle="tooltip">
                            <i class="icon-wrench"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 content"></div>
        </div>
    </div>
</div>