<div class="find-navbar navbar navbar-static-top">
    <div class="navbar-inner">
        <ul class="nav nav-pills">
            <li data-pagename="search">
                <a href="#search">
                    <div class="find-logo">Find</div>
                </a>
            </li>
            <li data-pagename="settings">
                <a href="#settings">
                    <i class="icon-wrench"></i>
                </a>
            </li>
            <li><a href="../logout"><i class="icon-lock"></i></a></li>
        </ul>
    </div>
</div>