<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="FileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${hp.find.home:-./temp}/logs/${log.file.name}.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${hp.find.home:-./temp}/logs/${log.file.name}.%d{yyyy-MM-dd}.log</fileNamePattern>  <!-- daily rollover -->
            <maxHistory>10</maxHistory> <!-- keep 10 days worth of history -->
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{40} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.autonomy" level="${log.level.autn}" additivity="false">
        <appender-ref ref="ConsoleAppender" />
        <appender-ref ref="FileAppender" />
    </logger>

    <logger name="net.sf.ehcache" level="${log.level.ehcache}" additivity="false">
        <appender-ref ref="ConsoleAppender"/>
        <appender-ref ref="FileAppender"/>
    </logger>

    <logger name="org.springframework.security" level="${log.level.spring}" additivity="false">
        <appender-ref ref="ConsoleAppender"/>
        <appender-ref ref="FileAppender"/>
    </logger>

    <root level="${log.level.root}">
        <appender-ref ref="ConsoleAppender" />
        <appender-ref ref="FileAppender" />
    </root>

</configuration>
