<!DOCTYPE html>
<html>
<head>
    <title>BI for Human Information - Configuration</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/ico" href="../static-{{commit}}/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static-{{commit}}/css/app.css"/>

    <script type="text/javascript" src="../static-{{commit}}/bower_components/requirejs/require.js"
            data-main="../static-{{commit}}/js/config.js"></script>
</head>
<body>
<div class="page"></div>
</body>
</html>
