<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">

  <title>BI for Human Information - Login</title>
  <link rel="icon" type="image/ico" href="static-{{commit}}/favicon.ico">
  <link rel="stylesheet" type="text/css" href="static-{{commit}}/lib/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="static-{{commit}}/lib/bootstrap/css/bootstrap-theme.css">
  <link rel="stylesheet" href="static-{{commit}}/bower_components/fontawesome/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="static-{{commit}}/css/login.css"/>
  <script type="text/javascript" src="static-{{commit}}/bower_components/requirejs/require.js" data-main="static-{{commit}}/js/login.js"></script>
</head>
<body>
</body>
</html>
