<!DOCTYPE html>
<html lang="en">
<head>
    <title>BI for Human Information</title>
    <link rel="icon" type="image/ico" href="static-{{commit}}/favicon.ico">
    <script type="application/json" id="config-json">{{{configJson}}}</script>
    <script src="static-{{commit}}/bower_components/hp-autonomy-hod-sso-js/src/js/authenticate-combined.js"></script>
    <script src="static-{{commit}}/bower_components/hp-autonomy-hod-sso-js/src/js/sso.js"></script>
</head>
<body>
    <form method="post" id="authenticate-form" style="display: none;"></form>
</body>
</html>