<div class="service-view-flex-container">
    <div class="left-side-container side-container small-container"></div>
    <div class="middle-container container-fluid p-t-sm p-b-sm">
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="comparison-view-back-button btn button-primary m-b-xs">
                    <%- i18n['app.backToSearch'] %>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="results-view-selection"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="comparison-view results-view-container"></div>
            </div>
        </div>
    </div>
    <div class="right-side-container side-container small-container"></div>
</div>