<div class="service-view-flex-container">
    <div class="left-side-container side-container small-container"></div>
    <div class="middle-container">
        <div>
            <button type="button" class="comparison-view-back-button btn button-primary m-b-nil m-t-xs m-l-sm">
                <%- i18n['app.backToSearch'] %>
            </button>
        </div>
        <div class="results-view-selection"></div>
        <div class="comparison-view results-view-container"></div>
    </div>
    <div class="right-side-container side-container small-container"></div>
</div>