<% _.each(fields, function(field) { %>
    <% if (field.value || field.editable) { %>
        <tr>
            <th class="font-bold"><%-i18n['search.document.' + field.key] || i18nIndexes['search.document.' + field.key]%></th>
            <td class="break-all"><% if (field.editable && field.editable[0] === '*') { %><input class="editable-field" name="<%=field.key%>" value="<%-field.value || '' %>"><%
                } else if (field.editable) { %><select class="editable-field" name="<%=field.key%>"><%
                    _.each(field.editable, function(value, idx){
                    %><option value="<%-(idx ? value : '') %>" <%= value.toLowerCase() === (field.value||'').toLowerCase() ? 'selected': ''%>><%-value%></option><%
                    })
                %></select><%
                } else { %><%-field.value%><% }%></td>
        </tr>
    <% } %>
<% }); %>

<% _.each(model.get('fields'), function(field) { %>
    <% if (field.displayName) { %>
        <tr>
            <th class="font-bold"><%-field.displayName%></th>
            <td class="break-all">
                <ul class="list-unstyled m-b-nil">
                    <% _.each(field.values, function(value) { %>
                        <li><%-value%></li>
                    <% }); %>
                </ul>
            </td>
        </tr>
    <% } %>
<% }); %>