<% if (model.get('transcript')) { %>
    <div class="font-bold"><%-i18n['search.document.transcript']%></div>
    <div class="preview-mode-metadata-value"><%-model.get('transcript')%></div>
<% } %>

<% _.each(model.get('fields'), function(field) { %>
    <% if (!field.advanced) { %>
            <div class="break-all">
                <div class="font-bold"><%-field.displayName%></div>
                <ul class="list-unstyled m-b-nil">
                    <% _.each(field.values, function(value) { %>
                        <li><%-value%></li>
                    <% }); %>
                </ul>
            </div>
    <% } %>
<% }); %>