html, body {
    min-width: 0;
    min-height: 0;
    overflow: hidden;
}

.body, .header {
    min-width: 640px;
}

.initial-loading-indicator-container {
    position: relative;
    height: 100%;
}

.initial-loading-indicator {
    border: 1px solid #2FA4E7;
    border-radius: 5px;
    height: 32px;
    left: 50%;
    line-height: 32px;
    margin: -16px 0 0 -100px;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 200px;
}

.page .header {
    min-height: 50px;
}

.page .body {
    padding-top: 32px;
    padding-bottom: 32px;
}

.page-wrap {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    overflow: auto;
    -webkit-transition: bottom 0.5s ease;
    transition: bottom 0.5s ease;
}

.page.show-footer .body {
    bottom: 260px;
}

.show-footer .page-footer {
    height: 260px;
}

.page:not(.show-footer) .shown-footer-only-fade {
    opacity: 0;
}

.show-footer .shown-footer-only-fade {
    opacity: 1;
}

.shown-footer-only-fade {
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

.page .hidden-footer-only {
    display: inline-block;
}

.page .shown-footer-only {
    display: none;
}

.show-footer .hidden-footer-only {
    display: none;
}

.show-footer .shown-footer-only {
    display: inline-block;
}

.nav.banner {
    height: 35px;
    width: 101px;
    background: url('../img/hp_autn.png') no-repeat;
    margin: 8px 0 7px;
}

.nav-user-dropdown a {
    cursor: default;
}

.user-dropdown li.nav-user-dropdown a:hover {
    background-color: transparent;
    background-image: none;
    color: rgb(51, 51, 51);
}

.hide-from-non-useradmin,
.hide-from-non-admin {
    display: none;
}

.centre {
    text-align: center;
}

/* jQuery UI overrides so the font is more consistent with bootstrap */
.page .ui-widget  {
    color: #555555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.page .ui-widget input, .page .ui-widget select, .page .ui-widget textarea, .page .ui-widget button {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.page .ui-widget-content {
    color: #555555;
}

/* Override for jQuery UI's '.ui-widget-content a' selector turning links black */
.page a {
    color: #2FA4E7;
}

.page a.btn {
    color: #333333;
}

.page a.btn.btn-success,
.page a.btn.btn-danger,
.page a.btn.btn-warning,
.page a.btn.btn-primary {
    color: white;
}

@media (max-width: 767px) {
    .page-wrap {
        padding: 0 20px;
    }
}

@media (min-width: 980px) {
    .page .body {
        left: 0;
        position: fixed;
        right: 0;
    }

    .page .body {
        bottom: 32px;
        top: 50px;
        overflow: auto;
        -webkit-transition: bottom 0.5s ease;
        transition: bottom 0.5s ease;
    }
}

@media (max-height: 539px) {
    .show-footer .page-footer {
        height: 100%;
    }
}

@media (max-width: 979px) {
    .show-footer .wrapper {
        bottom: 260px;
    }
}


/* find 2.0 */
.main-content {
    /*background-color: rgb(116, 130, 143);*/
    background-color: white;
    height: 100%;
}

.find {
    margin: 18% auto;
    text-align: center;
}

.find-logo {
    background: url('../img/Find-5.png');
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px auto;
    height: 200px;
    width:555px;
}

.find-logo-small {
    width: 145px;
    height: 40px;
    position: absolute;
    top: 18px;
    background: url('../img/Find-5.png');
    background-size: 117px 38px;
    background-repeat: no-repeat;
    display: none;
}

input.find-input {
    padding-right:26px;
    width:100%;
    height: 40px;
    font-size: 34px;
    line-height: initial;
}

form.form-search {
    position: relative;
    margin: 0 auto;
    width:35%;
}

form.form-search:before {
    content:'';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(http://getbootstrap.com/2.3.2/assets/img/glyphicons-halflings.png);
    background-position: -60px 0;
    background-size: 600px;
    position: absolute;
    top: 17px;
    right: -24px;
    opacity: .5;
    z-index: 1000;


}
.main-results-container, .suggested-links-container {
    background-color: white;
    border-radius: 5px;
    width: 35%;
    padding: 5px 10px;
    border: 1px solid rgb(225, 225, 225);
    margin-bottom: 10px;
}

.suggested-links-container.span2 {
    display: none;
}

.main-results-content {
    display: flex;
    flex-wrap: wrap;
}

.main-results-content .span4 {
    margin-right:10px;
}

.main-results-container:not(:first-child) {
    margin-left: 0;
}

.suggestions-content li {
    list-style: none;
}

.suggestion-item {
    cursor: pointer;
    text-decoration: underline;
}

.suggestion-item:hover {
    font-size: larger;
}

/* fancy animation */
.animated-container {
    margin:10px;
    -webkit-transition: margin 1s; /* For Safari 3.1 to 6.0 */
    transition: margin 1s;
}

.animated-form {
    width: 76.5% !important;
    margin-left: 16.8% !important;
    transition: all 2000ms ease;
    transition-property:width, margin-left;
}
/* fancy reverse animation */
.reverse-animated-container {
    margin: 18% auto;
    -webkit-transition: margin 1s; /* For Safari 3.1 to 6.0 */
    transition: margin 1s;
}

.reverse-animated-form {
    width:35%;
    margin: 0 auto;
    transition: all 1000ms ease;
    transition-property:width, margin;
}
.suggestions-content a {
    color: #A9C3D2;
}

.main-content h4 {
    color:#6C8B9D;
}

.suggestion-head-text {
    font-size: 16px;
    font-weight: 900;
}

.main-results-content .loading-spinner {
    border-radius: 5px;
    height: 32px;
    left: 50%;
    line-height: 32px;
    margin: -16px 0 0 -100px;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 200px;
    font-size: 28px;
    color: #6C8B9D;
}

.main-results-content .loading-spinner i, .suggested-links-container .loading-spinner i {
    color:#A9C3D2;
}

.suggested-links-container .loading-spinner {
    text-align: center;
    font-size: 18px;
    color: #6C8B9D;
}

#colorbox .prevBtn, #colorbox .nextBtn {
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 200px;
    width: 50px;
    z-index: 6000;
    color: #4D585E;
}

#colorbox .nextBtn {
    right: -5px;
}

#colorbox .prevBtn {
    left: -5px;
}

/* overriding bootstrap-custom's btn-warnings. */
/* remove the bootstrap-custom eventually? */
.btn-warning, .btn-warning:focus {
    background-color: #faa732;
    background-image: -ms-linear-gradient(top,#fbb450,#f89406);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));
    background-image: -webkit-linear-gradient(top,#fbb450,#f89406);
    background-image: -o-linear-gradient(top,#fbb450,#f89406);
    background-image: -moz-linear-gradient(top,#fbb450,#f89406);
    background-image: linear-gradient(top,#fbb450,#f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.btn-warning:active {
    background-color: #f89406;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
}

.btn-warning:focus {
    background-color: #F6950D;
    outline: 0 none;
}
/* end of btn-warning override from the bootstrap-custom */
#cboxLoadedContent {
    margin-top:28px;
}

#cboxCurrent {
    position: absolute;
    bottom: 4px;
    color: #949494;
    border-radius: 5px;
    height: 24px;
    left: 50%;
    line-height: 32px;
    margin: -16px 0 0 -100px;
    text-align: center;
    width: 105px;
}

#cboxClose {
    top:0;
}

.result-summary {
    text-align: justify;
}

.popover .arrow {
    display: none;
}

.list-indexes {
    position: absolute;
    top: 14px;
    right: -65px;
    opacity: .5;
    z-index: 1000;
    font-size: 22px;
    cursor:pointer;
}

.popover {
    width: 150px;
}

.popover-content h6 {
    margin:0;
}