<form class="form-search form-inline find-form">
    <div class="search-input-container">
        <input class="find-input" placeholder="<%-i18n['app.searchPlaceholder']%>" type="text" autocomplete="off">
        <button class="find-input-button btn btn-white" type="submit">
            <i class="hp-icon hp-search"></i>
        </button>
        <% if (hasBiRole) { %>
            <a class="hyperlink see-all-documents"><%-i18n['search.seeAllDocuments']%></a>
        <% } %>
    </div>
    <div class="additional-concepts-container">
        <span class="also-searching-for hide m-r-sm"><%-i18n['search.alsoSearchingFor']%></span>
        <div class="additional-concepts m-r-sm"></div>
    </div>
</form>