<a role="tab" class="text-center search-tab-anchor shorten" data-search-cid="<%- searchCid %>">
    <div class="search-tab-title shorten">
        <i class="hp-icon hp-new hide"></i>
        <%- data.title %>
        <span class="label new-document-label hide"></span>
    </div>
    <div>
        <span class="label label-secondary search-type">
            <i class="hp-icon <%- icon %>"></i>
            <%- i18n['search.savedSearchControl.searchType.' + data.type] %>
        </span>
    </div>
</a>