<div class="row document-detail-flex-container">
    <div class="col-md-2 left-side-container side-container small-container"></div>
    <div class="col-md-8 middle-container">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="comparison-view-back-button btn button-primary m-b-nil m-t-xs">
                    <%- i18n['app.backToSearch'] %>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="comparison-view col-md-12"></div>
        </div>
    </div>
    <div class="col-md-2 right-side-container side-container small-container"></div>
</div>