<div class="find offset2 span8 reverse-animated-container">
    <form class="form-search form-inline find-form">
        <input name="find-input" class="find-input" placeholder=" What do you want to find?" type="text" autofocus/>
        <span class="search-button drop-list list-indexes" rel="popover" data-toggle="tooltip">
              <i class="icon-list"></i>
        </span>
    </form>
</div>

<div class="row-fluid">
    <div class="span2 suggested-links-container">
        <h4 class="suggested-links-header">See also</h4>
        <div class="suggestions-content"></div>
    </div>
    <div class="span8">
        <div class="main-results-content"></div>
    </div>
    <div class="span2 parametric-container">
    </div>
</div>
