<div class="find">
    <div class="find-logo"></div>
    <form class="form-search form-inline find-form">
        <input name="find-input" class="find-input" placeholder="What do you want to find?" type="text"/>
    </form>
</div>

<div class="row-fluid">
    <div class="span3 suggested-links-container">
        <h3 class="suggested-links-header">Suggested Links</h3>
        <div class="suggestions-content"></div>
    </div>
    <div class="span8">
        <div class="main-results-content"></div>
    </div>
</div>