<div class="row">
    <div class="col-md-3 left-side-container">
        <div>
            <h4><%-i18n['search.selected']%></h4>
            <div class="filter-display-container"></div>
        </div>
        <div class="indexes-container"></div>
        <div class="date-container"></div>
        <div class="parametric-container"></div>
    </div>
    <div class="col-md-7">
        <div class="sort-container"></div>
        <div class="results-container"></div>
    </div>
    <div class="col-md-2 right-side-container">
        <div class="related-concepts-container"></div>
    </div>
</div>