<%
    var index = model.get('index');
%>

<div class="container-fluid full-height">
    <div class="row full-height">
        <div class="col-md-8 col-xs-12 full-height">
            <h2 class="view-server-loading-indicator text-center">
                <i class="icon-spinner icon-spin"></i> <%-i18n["app.loading"]%>
            </h2>
            <iframe sandbox="allow-same-origin" class="cboxIframe view-server-page" src="<%-src%>"></iframe>
        </div>
        <div class="col-md-4 col-xs-12 view-server-controls">
            <a class="btn btn-info view-server-button m-b-sm" target="_blank" href="<%-src%>"><%-i18n['search.document.openInNewTab']%></a>
            <table class="table m-t-xl view-server-document-info">
                <tbody>
                <% if (index) { %>
                    <% if (index.get('domain')) { %>
                        <tr>
                            <th><%-i18n['search.document.domain']%></th>
                            <td class="break-all"><%-index.get('domain')%></td>
                        </tr>
                    <% } %>
                    <tr>
                        <th><%-i18n['search.document.index']%></th>
                        <td class="break-all"><%-index.get('name')%></td>
                    </tr>
                <% } %>

                <% _.each(fields, function(field) { %>
                    <% if(model.has(field)) { %>
                        <tr>
                            <th><%-i18n['search.document.' + field]%></th>
                            <% if(_.isArray(model.get(field))) { %>
                                <td class="break-all">
                                    <ul class="list-unstyled">
                                        <% _.each(model.get(field), function(value) { %>
                                            <li><%-value%></li>
                                        <% }); %>
                                    </ul>
                                </td>
                            <% } else { %>
                                <td class="break-all"><%-model.get(field)%></td>
                            <% } %>
                        </tr>
                    <% } %>
                <% }); %>
                
                <% _.each(dateFields, function(field) { %>
                    <% if(model.has(field)) { %>
                        <tr>
                            <th><%-i18n['search.document.' + field]%></th>
                            <td><%-model.get(field).format('LLLL')%></td>
                        </tr>
                    <% } %>
                <% });%>
                </tbody>
            </table>
        </div>
    </div>
</div>
