.form-control {
  background-color: @white;
  background-image: none;
  border: 1px solid @control-border-color;
  border-radius: 1px;
  display: block;
  font-size: @fontSizeLarge;
  padding: 4px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  box-shadow:none;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
  cursor:default;
  color: lighten(@black, 50%);
}

.form-control::-moz-placeholder {
  color: lighten(@black, 60%);
}

.form-control::-webkit-input-placeholder {
  color: lighten(@black, 60%);
}

:-ms-input-placeholder.form-control
{
  color: lighten(@black, 60%);
}

.input-lg {
 font-size: @fontSizeLarge;
}

.input-sm {
  font-size: @fontSizeSmall;
}

textarea{
  resize:none;
}
label{
  font-weight:normal;
}

.form-label {
  .opacity(0.7);
}
.form-information{
  .opacity(0.7);
  float:right;
}
.form-control:focus {
  border-color: @accent;
  outline:0;
  box-shadow:none;
}
.form-control-feedback{
  display:none;
  &.hp-icon{
    line-height:34px;
  }
}
.form-control-validation{
  color:@accent;
}
.has-error .form-control-validation{
  color:@warning;
}
.has-error ~ .form-group-validation .form-control-validation{
  color:@warning;
}
.has-feedback{
  position:relative;
  .form-control-feedback{
    display:block;
  }
}
.has-success,.has-secondary,.has-error{
  .form-control:focus{
    box-shadow: none;
  }
}
.has-success .form-control {
  border-color: @hpegreen;
}

.has-secondary .form-control {
  border-color: @yellow;
}

.has-error .form-control {
  border-color: @warning;

  &:focus {
    border-color: @accent;
  }
}

.has-success .control-label {
  color: @hpegreen;
}

.has-secondary .control-label {
  color: @yellow;
}

.has-error{
  .control-label, .help-block,.error-text,.form-control-feedback {
    color: @warning;
  }
}

.input-group-addon {
  background-color: @white;
  border: 1px solid @control-border-color;
  border-radius: 1px;
  color: inherit;
  font-size: @fontSize;
  font-weight: 400;
  line-height: 1;
  padding: 5px 12px;
  text-align: center;
}

//removing the curve from addons
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:first-child>.btn-group:not(:first-child)>.btn{
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn-group:not(:last-child)>.btn {
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}

.input-group .input-group-btn button {
  height: 34px;
}

//login page form control
.login-form-control {
  background-color: transparent;
  background-image: none;
  border: none;
  border-bottom: 1px solid #555;
  border-radius: 1px;
  display: block;
  font-size: 18px;
  padding: 4px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  height: 45px;
  box-shadow: none;
}

.login-form-control-dark{
  color:@white;
  .login-form-control;
}

.login-form-control-light{
  color:@black;
  .login-form-control;
}
.login-form-control:focus {
  border: none;
  border-bottom:  1px solid #999999;
  outline: 0;
  box-shadow: none;
}
.login-form-control:-ms-input-placeholder {
  color: #999999;
}
.login-form-control::-webkit-input-placeholder {
   color: #999999;
}
select.form-control
{
  font-size:@fontSizeLarge;
}

//==============
//Chosen
//==============

.chosen-select{
  width:100%;
}

/*!
Chosen, a Select Box Enhancer for jQuery and Prototype
by Patrick Filler for Harvest, http://getharvest.com

Version 1.1.0
Full source at https://github.com/harvesthq/chosen
Copyright (c) 2011 Harvest http://getharvest.com

MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
This file is generated by `grunt build`, do not edit it by hand.
*/

/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  box-sizing: border-box;
  overflow-y: auto;
  max-height: 400px;
  width: 100%;
  border: 1px solid @control-border-color;
  border-top: 0;
  background: @white;
}
.chosen-dropup + .chosen-container .chosen-drop {
  top: auto;
  bottom: 100%;
  border: 1px solid @control-border-color;
  border-bottom: 0;
}

.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}
.chosen-container a {
  cursor: pointer;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  display: block;
  background-clip: padding-box;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
  background: @white;
  box-shadow: none;
  box-sizing: border-box;
  background-color: @white;
  border: 1px solid @control-border-color;
  border-radius: 1px;
  cursor: text;
  height: auto !important;
  margin: 0;
  min-height: 20px;
  overflow: hidden;
  padding: 4px 12px;
  position: relative;
  width: 100%;
  color:@control-font-color;
}
.chosen-container-single .chosen-default {
  color: lighten(@black, 70%);
}
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 10px;
  right: 20px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('../../img/chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../../img/chosen-sprite.png') no-repeat 0px 6px;
}
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.chosen-container-single .chosen-search input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid @control-border-color;
  background: white url('../../img/chosen-sprite.png') no-repeat 100% -20px;
  background: url('../../img/chosen-sprite.png') no-repeat 100% -20px;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 1px 1px;
  background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  -webkit-touch-callout: none;
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  background-color: @accent-hover;
  color: #fff;
}
.chosen-container .chosen-results li.no-results {
  display: list-item;
  background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  -moz-box-sizing: border-box;
  background-color: @white;
  border: 1px solid @control-border-color;
  color:@control-font-color;
  border-radius: 1px;
  cursor: text;
  height: auto !important;
  margin: 0;
  min-height: 30px;
  overflow: hidden;
  padding: 2px;
  position: relative;
  width: 100%;
}
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 5px;
  height: 25px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: lighten(@black,70%);
  font-size: 100%;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-multi .chosen-choices li.search-field .default {
  color: #999;
}
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 0 3px 5px;
  padding: 3px 20px 3px 5px;
  border: 1px solid darken(@control-border-color,5%);
  border-radius: 1px;
  background-color:  darken(@control-border-color,1%);
  background-clip: padding-box;
  color: @control-font-color;
  line-height: 13px;
  cursor: default;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('../../img/chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}

/* @end */
/* @group Active  */
.chosen-container-active{
  box-shadow: 0px 0px 0px 1px @accent;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 6px;
}

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #111 !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
  outline: none;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url('../../img/chosen-sprite@2x.png') !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}
/* @end */

/* TOOLTIPS */

.tooltip {
  word-wrap:break-word;
  font-family: Metric;
  z-index:@tooltip-zindex;
}
.tooltip.in {
  .opacity(100);
}

.tooltip-inner {
  background-color: #464646;
  box-shadow: 1px 1px 2px #262626;
  border-radius: 0;
  text-align: left;
  max-width: 400px;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #464646;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #464646;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #464646;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #464646;
}

.black-tooltip{
  &+.tooltip{

    width:350px;

    >.tooltip-inner{
      background-color: #000;
      font-family: Metric;
      display:inline-block;
    }
    &.right{
      >.tooltip-arrow{
      border-right-color: #000;
      }
    }
    &.left{
      >.tooltip-arrow{
      border-left-color: #000;
      }
    }
    &.top{
      >.tooltip-arrow{
      border-top-color: #000;
      }
    }
    &.bottom{
      >.tooltip-arrow{
      border-bottom-color: #000;
      }
    }
  }
}

.nodrop {
    background-color: #f2dede;
}
