<!DOCTYPE html>
<html data-hpe-find-auth-error="{{isAuthError}}">
<head>
    <title>BI for Human Information - Error</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="{{baseUrl}}">
    <link rel="icon" type="image/ico" href="static-{{commit}}/favicon.ico">
    <link rel="stylesheet" type="text/css" href="static-{{commit}}/css/app.css"/>
</head>
<body>
<div class="error-body">
    <h1>{{statusCode}}</h1>
    <h3>{{mainMessage}}</h3>
    <div>
        <p>{{subMessage}}</p>
        {{#contactSupport}}
            <p>{{contactSupport}}</p>
        {{/contactSupport}}
        {{#buttonHref}}
            <a href="{{buttonHref}}" class="btn button-primary m-t">{{buttonMessage}}</a>
        {{/buttonHref}}
    </div>
</div>
</body>
</html>