<p>
    <span class="uppercase bold">
        <%-i18n['search.compare.selectedSearch']%>
    </span>
    <span class="primary-model-title"><%- selectedSearchTitle %></span>
</p>
<p class="m-b-md">
    <%-i18n['search.compare.selectSearchToCompare']%>
</p>
<ul class="saved-searches-list-selector list-unstyled list-inline">
    <% _.each(searches, function(search) { %>
        <li>
            <div class="hpebox saved-search-box" data-search-cid="<%-search.cid%>">
                <div class="hpebox-content shorten clickable secondary-model-title">
                    <%-search.get('title')%>
                </div>
            </div>
        </li>
    <% }); %>
</ul>