<div class="search-options-container p-sm"></div>
<div class="query-service-view service-view-sub-container">
    <div class="left-side-container side-container">
        <i class="hp-icon hp-previous-chapter hp-lg container-toggle clickable"></i>
        <div class="side-panel-content">
            <% if (searchType === SearchType.QUERY) { %>
                <div class="indexes-container"></div>
                <div class="date-container"></div>
                <div class="parametric-container"></div>
            <% } else { %>
                <div class="snapshot-view-container"></div>
            <% } %>
        </div>
    </div>
    <div class="middle-container">
        <% if (searchType === SearchType.QUERY) { %>
            <div class="row">
                <div class="col-md-12">
                    <div class="filter-display-container"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="spellcheck-container m-b-sm hidden"></div>
                </div>
            </div>
        <% } %>
        <div class="row">
            <div class="col-md-12">
                <button class="btn button-primary compare-modal-button"><%-i18n['search.compare']%></button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="results-view-selection"></div>
                <div class="results-view-container"></div>
            </div>
        </div>
    </div>
    <div class="right-side-container side-container">
        <div class="right-container-icon">
            <i class="hp-icon hp-next-chapter hp-lg container-toggle clickable"></i>
        </div>
        <div class="side-panel-content">
            <div class="related-concepts-container"></div>
        </div>
    </div>
</div>
