<div class="btn-group m-b-sm">
    <span class="bold unstyled-text pull-left m-r-xs"><%-i18n['search.resultsSort']%> </span>
    <a class="dropdown-toggle text-primary no-box-shadow" data-toggle="dropdown">
        <b class="current-search-sort"><%- i18n['search.resultsSort.relevance'] %></b>
        <span><i class="hp-icon hp-fw hp-chevron-down" aria-hidden="true"></i></span>
    </a>
    <ul class="search-results-sort dropdown-menu" role="menu">
        <% _.each(sortTypes, function(type) { %>
        <li data-sort="<%=type%>">
            <a class="clickable"><%-i18n['search.resultsSort.' + type]%></a>
        </li>
        <% }); %>
    </ul>
</div>