<div class="form-group">
    <textarea class="edit-concept-input form-control" rows="7" placeholder="<%- i18n['search.editConcept'] %>"></textarea>
</div>
<div class="form-group">
    <button type="submit" class="btn thin-btn button-primary edit-concept-confirm-button disabled not-clickable">
        <%- i18n['search.editConcept.save'] %>
    </button>
    <button type="button" class="btn thin-btn button-primary edit-concept-cancel-button m-r-sm">
        <%- i18n['search.editConcept.cancelSave'] %>
    </button>
</div>