<div class="m-t-xs">
    <form class="form-search form-inline save-input">
        <input class="find-input" placeholder="<%- i18n['search.savedSearchControl.nameSearch'] %>" type="text"/>
    </form>
    <div class="m-t-xs">
        <span class="save-error-message col-md-6"></span>
        <span class="col-md-6">
            <span class="inline-block">
                <button type="button" class="btn thin-btn button-primary save-confirm-button pull-right" aria-pressed="false" autocomplete="off">
                    <%- i18n['search.savedSearchControl.save'] %>
                </button>
          </span>
          <span class="inline-block">
              <button type="button" class="btn thin-btn button-primary save-cancel-button pull-right m-r-sm" aria-pressed="false" autocomplete="off">
                  <%- i18n['search.savedSearchControl.cancelSave'] %>
              </button>
          </span>
        </span>
    </div>
</div>