<div class="btn-group">
    <button data-toggle="dropdown" class="btn btn-icon btn-circular button-primary btn-lg dropdown-toggle" aria-expanded="false" id="btnDropDown">
        <i class="hp-icon hp-splitter hp-rotate-90"></i>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="btnDropDown">
        <% if (!model.isNew()) {%>
            <li class="saved-search-option-rename"><a href><%-i18n['app.rename']%></a></li>
        <% } %>
        <li class="saved-search-option-delete"><a href><%-i18n['app.delete']%></a></li>
    </ul>
</div>