<button type="button" class="btn button-primary save-search-button save-button">
    <%- i18n['search.savedSearchControl.update'] %>
</button>
<button type="button" class="btn btn-secondary popover-control show-rename-button" aria-pressed="false">
    <%- i18n['search.savedSearchControl.rename'] %>
</button>
    <% if (searchType === SearchType.QUERY) { %>
        <button type="button" class="btn button-primary popover-control show-save-as-button save-button" aria-pressed="false"></button>
    <% } %>
<div class="btn-group m-r-sm">
    <button data-toggle="dropdown" class="btn btn-icon btn-circular button-primary btn-lg dropdown-toggle" aria-expanded="false" id="btnDropDown">
        <i class="hp-icon hp-splitter hp-rotate-90"></i>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="btnDropDown">
        <li class="search-reset-option">
            <a><%-i18n['app.reset']%></a>
        </li>
            <% if (searchType === SearchType.SNAPSHOT) { %>
                <li class="open-as-query-option">
                    <a><%-i18n['search.savedSearchControl.openAsSearch']%></a>
                </li>
            <% } %>
        <li class="saved-search-delete-option">
            <a><%-i18n['app.delete']%></a>
        </li>
    </ul>
</div>
<span class="search-controls-error-message"></span>
