<div class="form-group">
    <input class="search-title-input form-control" placeholder="<%- i18n['search.savedSearchControl.nameSearch'] %>" type="text"/>
</div>
<% if (showSearchTypes) { %>
    <div class="form-group">
        <% _.each(savedSearchTypes, function(type) { %>
            <label class="radio-inline i-check">
                <input type="radio" value="<%- type %>" name="saved-search-type"> <%- i18n['search.savedSearchControl.searchType.' + type] %>
            </label>
        <% }); %>
    </div>
<% } %>
<div class="form-group">
    <button type="submit" class="btn thin-btn button-primary save-title-confirm-button disabled not-clickable">
        <i class="fa fa-circle-o-notch fa-spin hide"></i>
        <%- i18n['search.savedSearchControl.save'] %>
    </button>
    <button type="button" class="btn thin-btn button-primary save-title-cancel-button m-r-sm">
        <%- i18n['search.savedSearchControl.cancelSave'] %>
    </button>
</div>
<span class="search-title-error-message"></span>