<div class="m-t-xs">
    <form class="form-search form-inline save-input">
        <input class="find-input" placeholder="<%- i18n['search.savedSearchControl.nameSearch'] %>" type="text"/>

    <form class="form-inline search-title-form">
        <div class="form-group">
            <input class="search-title-input form-control" placeholder="<%- i18n['search.savedSearchControl.nameSearch'] %>" type="text"/>
        </div>
    </form>
    <label class="radio-inline i-check">
        <input type="radio" checked value="query" name="optionsRadios">
        <%- i18n['search.savedSearchControl.query'] %>
    </label>
    <label class="radio-inline i-check">
        <input type="radio" value="snapshot"  name="optionsRadios">
        <%- i18n['search.savedSearchControl.snapshot'] %>
    </label>
    <div class="m-t-xs">
        <span class="search-title-error-message col-md-6"></span>
        <span class="col-md-6">
            <span class="inline-block">
                <button type="button" class="btn thin-btn button-primary save-title-confirm-button pull-right">
                    <%- i18n['search.savedSearchControl.save'] %>
                </button>
          </span>
          <span class="inline-block">
              <button type="button" class="btn thin-btn button-primary save-title-cancel-button pull-right m-r-sm">
                  <%- i18n['search.savedSearchControl.cancelSave'] %>
              </button>
          </span>
        </span>
    </div>
</div>