<div class="flex">
    <div class="js-shared-with-list-container shared-with-list-container">
        <h4><%-i18n['search.savedSearchControl.sharingOptions.sharedWith']%></h4>
        <input type="text" placeholder="<%-i18n['search.savedSearchControl.sharingOptions.searchForMoreUsers']%>" class="p-l-xs js-search-for-shared-with-users m-b-sm">
        <ul class="list-unstyled"></ul>
        <span class="js-no-shared-with-users text-muted"><%-i18n['search.savedSearchControl.sharingOptions.users.empty']%></span>
    </div>
    <div class="js-not-shared-with-list-container not-shared-with-list-container m-l-md">
        <h4><%-i18n['search.savedSearchControl.sharingOptions.notSharedWith']%></h4>
        <input type="text" placeholder="<%-i18n['search.savedSearchControl.sharingOptions.searchForMoreUsers']%>" class="p-l-xs js-search-for-not-shared-with-users m-b-sm">
        <ul class="list-unstyled"></ul>
        <span class="js-no-not-shared-with-users text-muted"><%-i18n['search.savedSearchControl.sharingOptions.users.empty']%></span>
    </div>
</div>
<div>
    <div class="check">
        <label class="i-check checkbox js-search-shared-with-everyone clickable m-nil inline">
            <input type="checkbox">
            <span class="can-edit-text"><%-i18n['search.savedSearchControl.sharingOptions.sharedWithEveryone']%></span>
        </label>
    </div>
</div>