<span class="user-name-container"><%-user%></span>
<label class="i-check checkbox js-can-edit-checkbox clickable m-nil inline" data-id="<%-cid%>" data-username="<%-user%>">
    <span class="can-edit-text"><%-i18n['search.savedSearchControl.sharingOptions.canEdit']%></span>
    <input type="checkbox">
</label>
<span class="fa-stack js-unshare-with-button unshare-with-button clickable" data-toggle="tooltip" data-id="<%-cid%>" data-username="<%-user%>">
    <i class="fa fa-share-alt"></i>
    <i class="fa fa-close text-danger"></i>
</span>