{
  "login" : {
    "name" : "CommunityAuthentication",
    "defaultLogin" : {
      "username" : null,
      "password" : null
    },
    "community" : {
      "protocol" : "HTTP",
      "host" : "{{community.host}}",
      "port" : {{community.port}}
    },
    "method" : "autonomy"
  },
  "content" : {
    "protocol" : "HTTP",
    "host" : "{{content.host}}",
    "port" : {{content.port}}
  },
  "queryManipulation" : {
    "server" : {
      "protocol" : "HTTP",
      "host" : "{{qms.host}}",
      "port" : {{qms.port}}
    },
    "expandQuery" : true,
    "blacklist" : "ISO_BLACKLIST",
    "typeAheadMode" : "Index",
    "enabled" : false
  },
  "view" : {
    "connector" : {
      "protocol" : "HTTP",
      "host" : "{{view.connector.host}}",
      "port" : {{view.connector.port}}
    },
    "referenceField" : "DREREFERENCE",
    "viewingMode" : "FIELD",
    "highlighting" : true,
    "protocol" : "HTTP",
    "host" : "{{view.host}}",
    "port" : {{view.port}}
  },
  "mmap" : {
    "enabled" : false,
    "baseUrl" : ""
  },
  "uiCustomization" : {
    "options" : {
      "enableMetaFilter" : {
        "bi" : true,
        "user" : false
      }
    },
    "specialUrlPrefixes" : {
      "application/msword" : "ms-word:ofv|u|",
      "application/mspowerpoint" : "ms-powerpoint:ofv|u|",
      "application/vnd.ms-powerpoint" : "ms-powerpoint:ofv|u|",
      "application/msexcel" : "ms-excel:ofv|u|",
      "application/vnd.ms-excel" : "ms-excel:ofv|u|",
      "application/vnd.visio" : "ms-visio:ofv|u|",
      "application/msaccess" : "ms-access:ofv|u|",
      "application/x-msaccess" : "ms-access:ofv|u|",
      "application/msproject" : "ms-project:ofv|u|",
      "application/vnd.ms-project" : "ms-project:ofv|u|",
      "application/x-mspublisher" : "ms-publisher:ofv|u|"
    }
  },
  "map" : {
    "tileUrlTemplate" : "",
    "enabled" : false,
    "attribution" : "",
    "locationFields" : [ {
      "displayName" : "DefaultLocation",
      "latitudeField" : "latitude",
      "longitudeField" : "longitude",
      "iconName" : null,
      "iconColor" : null,
      "markerColor" : null
    } ],
    "resultsStep" : 2500,
    "initialLocation" : {
      "latitude" : 51.5074,
      "longitude" : 0.1278
    }
  },
  "minScore" : 0,
  "statsServer" : {
    "server" : {
      "protocol" : "HTTP",
      "host" : "localhost",
      "port" : 19870
    },
    "enabled" : false
  },
  "topicMapMaxResults" : 1000,
  "savedSearches" : {
    "pollForUpdates" : true,
    "pollingInterval" : 5
  }
}