<?xml version="1.0" encoding="UTF-8"?>

        
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:ehcache="http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                         http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring/ehcache-spring-1.2.xsd
                         http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd" >

    <!-- Scans the classpath of this application for @Components to deploy as beans -->
    <context:component-scan base-package="com.hp.autonomy.frontend">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <context:property-placeholder location="classpath:com/hp/autonomy/frontend/find/find.properties"/>

    <ehcache:annotation-driven create-missing-caches="true"/>

    <ehcache:config cache-manager="cacheManager">
        <ehcache:evict-expired-elements interval="60" />
    </ehcache:config>

    <bean id="forbiddenEntryPoint" class="org.springframework.security.web.authentication.Http403ForbiddenEntryPoint"/>

    <security:http pattern="/static/**" security="none"/>
    <security:http pattern="/public/**" security="none"/>

    <security:http pattern="/api/useradmin/**" entry-point-ref="forbiddenEntryPoint">
        <security:intercept-url pattern="/api/useradmin/**" access="ROLE_ADMIN"/>
    </security:http>

    <security:http pattern="/api/config/**" entry-point-ref="forbiddenEntryPoint">
        <security:intercept-url pattern="/api/config/**" access="ROLE_DEFAULT"/>
    </security:http>

    <security:http>
        <security:access-denied-handler ref="findAccessDeniedHandler"/>
        <security:intercept-url pattern="/p/**" access="ROLE_ADMIN"/>
        <security:intercept-url pattern="/config/**" access="ROLE_DEFAULT"/>
        <security:form-login
                authentication-failure-url="/loginPage?error=auth"
                authentication-success-handler-ref="loginSuccessHandler"
                login-processing-url="/authenticate"
                login-page="/loginPage"
                password-parameter="password"
                username-parameter="username"
                />
        <security:logout logout-url="/logout" logout-success-url="/public/"/>
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider ref="defaultLoginAuthenticationProvider"/>
        <security:authentication-provider ref="singleUserAuthenticationProvider"/>
    </security:authentication-manager>

    <bean class="com.hp.autonomy.frontend.logging.ApplicationStartLogger"/>

    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="/WEB-INF/ehcache.xml"/>
    </bean>

    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
        <property name="defaultLocale" value="en" />
    </bean>

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="com.hp.autonomy.frontend.find.i18n"/>
    </bean>

    <bean id="propertiesLookup" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <qualifier value="application"/>
        <property name="singleton" value="true"/>
        <property name="location" value="classpath:com/hp/autonomy/frontend/find/find.properties"/>
    </bean>

    <bean name="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set/>
        </property>
    </bean>



    <bean class="com.hp.autonomy.frontend.configuration.filter.ConfigEnvironmentVariableFilter" name="configEnvironmentVariableFilter"
          p:configPage="/configError"
          p:configService-ref="configFileService"/>

    <bean id="configFileService" class="com.hp.autonomy.frontend.find.configuration.FindConfigFileService"
          p:configFileLocation="hp.find.home"
          p:configFileName="config.json"
          p:defaultConfigFile="/com/hp/autonomy/frontend/find/configuration/defaultConfigFile.json"
          p:mapper-ref="objectMapper"
          p:textEncryptor-ref="org.jasypt.util.text.BasicTextEncryptor"
          p:filterProvider-ref="com.fasterxml.jackson.databind.ser.impl.SimpleFilterProvider"
          p:validationService-ref="validationService"/>

    <bean id="validationService" class="com.hp.autonomy.frontend.configuration.ValidationServiceImpl">
        <property name="validators">
            <set>
                <bean class="com.hp.autonomy.frontend.configuration.SingleUserAuthenticationValidator"
                      p:configService-ref="configFileService"/>
                <bean class="com.hp.autonomy.frontend.find.configuration.IodConfigValidator" />
            </set>
        </property>
    </bean>

    <bean id="configurationFilter" class="com.fasterxml.jackson.databind.ser.impl.SimpleBeanPropertyFilter$SerializeExceptFilter">
        <constructor-arg>
            <set>
                <value>productType</value>
                <value>indexErrorMessage</value>
                <value>enabled</value>
                <value>plaintextPassword</value>
                <value>currentPassword</value>
            </set>
        </constructor-arg>
    </bean>

    <bean class="com.fasterxml.jackson.databind.ser.impl.SimpleFilterProvider">
        <constructor-arg>
            <map>
                <entry key="configurationFilter" value-ref="configurationFilter"/>
            </map>
        </constructor-arg>
    </bean>

    <bean class="org.jasypt.util.text.BasicTextEncryptor" p:password-ref="passwordFactory"/>
    <bean id="passwordFactory" class="com.hp.autonomy.frontend.find.configuration.TextEncryptorPasswordFactory"/>
</beans>
