<div class="btn-group report-pptx-group pull-right">
    <button type="button" class="btn btn-default report-pptx"><i class="hp-icon hp-document-download"></i> PPTX</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a class="report-pptx" href="#"><i class="hp-icon hp-document-download"></i> <%- powerpointSingle %></a></li>
        <li><a class="report-pptx report-pptx-multipage" href="#"><i class="hp-icon hp-document-download"></i> <%- powerpointMultiple %></a></li>
        <li><a class="report-pptx-checkbox"><label><input type="checkbox" class="report-pptx-labels" checked> <%- powerpointLabels %></label></a></li>
        <li><a class="report-pptx-checkbox"><label><input type="checkbox" class="report-pptx-padding" checked> <%- powerpointPadding %></label></a></li>
    </ul>
</div>