<div class="container-fluid full-height">
    <div class="row full-height">
        <div class="col-md-8 col-xs-12 full-height">
            <%=content%>
        </div>
        <div class="col-md-4 col-xs-12 view-server-controls">
            <a class="btn btn-info view-server-button m-b-sm" target="_blank" href="<%-src%>"><%-i18n['search.document.openInNewTab']%></a>
            <table class="table m-t-xl view-server-document-info">
                <tbody>
                    <% _.each(['index', 'reference'], function(field) { %>
                        <% if(model.has(field)) { %>
                            <tr>
                                <th><%-i18n['search.document.' + field]%></th>
                                <td class="break-all"><%-model.get(field)%></td>
                            </tr>
                        <% } %>
                    <% }); %>

                    <% _.each(model.get('fields'), function(field) { %>
                        <tr>
                            <th><%-field.displayName%></th>
                            <td class="break-all">
                                <ul class="list-unstyled">
                                    <% _.each(field.values, function(value) { %>
                                        <li><%-value%></li>
                                    <% }); %>
                                </ul>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>
